

<div *ngIf="lista" >

    <div class="input-group">
      <input type="text"
            class="form-control"
            placeholder="Novo Item..."
            [(ngModel)]="novoItem"
            (keyup.enter)="adicionar()">
      <span class="input-group-btn">
        <button class="btn btn-default"
                type="button"
                (click)="adicionar()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
      </span>
    </div><!-- /input-group -->


    <ul  class="list-group mostraApenasTodo">
      <li *ngFor="let item of lista.itens"
          class="list-group-item"
          [class.disabled]="item.status==='done'"
          [class.feito]="item.status==='done'"
          (click)="mudarStatus(item)">
          {{item.nome}}
      </li>
    </ul>
    <h4>
      <span *ngIf="listaCompleta()">
        Yeah! Acabou!
      </span>
    </h4>

    <ul class="list-group mostraApenasDone">
      <li *ngFor="let item of lista.itens"
          class="list-group-item"
          [class.disabled]="item.status==='done'"
          [class.feito]="item.status==='done'"
          (click)="mudarStatus(item)">
          {{item.nome}}
          <button class="btn btn-default btn-xs pull-right"
              (click)="remover(item)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
      </li>
    </ul>

    <button class="btn btn-danger btn-block"
        (click)="removerConcluidos()">
        Apagar Prontos <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>

</div>
